<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhl.card.dao.ICardBlueRepaymentDao">

	<resultMap id="cardBlueRepaymentMap" type="com.zhl.card.pojo.CardBlueRepayment" >
		<id column="ID" property="id" jdbcType="VARCHAR"/>
	    <result column="CARD_BLUE_BILL_ID" property="cardBlueBillId" jdbcType="VARCHAR"/>
	    <result column="CARD_NO" property="cardNo" jdbcType="VARCHAR"/>
	    <result column="CURRENCY" property="currency" jdbcType="VARCHAR"/>
	    <result column="REPAYMENT_MONEY" property="repaymentMoney" jdbcType="DECIMAL"/>
	    <result column="REPAYMENT_DAY" property="repaymentDay" jdbcType="VARCHAR"/>
	    <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP"/>
	    <result column="UPDATE_DATE" property="updateDate" jdbcType="TIMESTAMP"/>
	    <result column="UPDATE_USER" property="updateUser" jdbcType="VARCHAR"/>
	    <result column="TYPE" property="type" jdbcType="VARCHAR"/>
	    <result column="STATE" property="state" jdbcType="VARCHAR"/>
	    <result column="ISDEL" property="isDel" jdbcType="VARCHAR"/>
	</resultMap>
	
	<sql id="Base_Column_List" >
	    ID, CARD_BLUE_BILL_ID, CARD_NO, CURRENCY, REPAYMENT_MONEY, REPAYMENT_DAY, 
	    CREATE_DATE, UPDATE_DATE, UPDATE_USER, TYPE, STATE, ISDEL
	</sql>
	
	<select id="queryCardBlueRepaymentCondition2List" parameterType="map"  resultMap="cardBlueRepaymentMap">
	   select 
	   <include refid="Base_Column_List" />
	   from CARD_BLUE_REPAYMENT 
	   <where>
	       <if test="id != null and id != ''"> and ID = #{id} </if>
           <if test="cardBlueBillId != null and cardBlueBillId != ''"> and CARD_BLUE_BILL_ID = #{cardBlueBillId} </if>
           <if test="cardNo != null and cardNo != ''"> and CARD_NO = #{cardNo} </if>
           <if test="currency != null and currency != ''"> and CURRENCY = #{currency} </if>
           <if test="repaymentMoney != null and repaymentMoney != ''"> and REPAYMENT_MONEY = #{repaymentMoney} </if>
           <if test="repaymentDay != null and repaymentDay != ''"> and REPAYMENT_DAY = #{repaymentDay} </if>
           <if test="createDate != null and createDate != ''"> and CREATE_DATE = #{createDate} </if>
           <if test="updateDate != null and updateDate != ''"> and UPDATE_DATE = #{updateDate} </if>
           <if test="updateUser != null and updateUser != ''"> and UPDATE_USER = #{updateUser} </if>
           <if test="type != null and type != ''"> and TYPE = #{type} </if>
           <if test="state != null and state != ''"> and STATE = #{state} </if>
           <if test="isDel != null and isDel != ''"> and ISDEL = #{isDel} </if>
	   </where>
	</select>
	
  	<update id="updateCardBlueRepayment" parameterType="map">
  	     update CARD_BLUE_REPAYMENT
        <set>
          <if test="currency != null" >
            CURRENCY = #{currency},
          </if>
          <if test="repaymentMoney != null" >
            REPAYMENT_MONEY = #{repaymentMoney},
          </if>
          <if test="repaymentDay != null" >
            REPAYMENT_DAY = #{repaymentDay},
          </if>
          <if test="updateDate != null" >
            UPDATE_DATE = #{updateDate}
          </if>
          <if test="updateUser != null" >
            UPDATE_USER = #{updateUser}
          </if>
          <if test="type != null" >
            TYPE = #{type}
          </if>
          <if test="state != null" >
            STATE = #{state}
          </if>
          <if test="isDel != null" >
            ISDEL = #{isDel}
          </if>
        </set>
        where ID = #{id}
    </update>
  	
  	<insert id="insertCardBlueRepayment" parameterType="com.zhl.card.pojo.CardBlueRepayment" useGeneratedKeys="true" keyProperty="id">
  	     insert into CARD_BLUE_REPAYMENT
        (
            <include refid="Base_Column_List" />
        ) 
        values 
        ( 
            #{id}, #{cardBlueBillId}, #{cardNo}, #{currency}, #{repaymentMoney}, 
            #{repaymentDay}, #{createDate}, #{updateDate}, #{updateUser}, 
            #{type}, #{state}, #{isDel}
        )
  	</insert>
</mapper>